body {
    background-image: url("Images/Pasted\ image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid white;
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
}
.admin-box {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    border: 1px solid white;
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
}